html
    head
        title "Страница не найдена
        link(rel="stylesheet" href="/public/css/uikit.min.css" type="text/css")
    body
        div.uk-margin-large-top.uk-align-center
            h1.uk-text-center 404