div.uk-container-small.uk-container.uk-margin
    nav.uk-navbar.uk-navbar-container
        div.uk-navbar-left
            uk.uk-navbar-nav
                li
                    a(href="/") Главная

        div.uk-navbar-right
            uk.uk-navbar-nav
                li#nav-user

script(src="/public/js/modules/menu.min.js")