html
    head
        title Лоты аукциона
        link(rel="stylesheet" href="/public/css/uikit.min.css" type="text/css")
        script(src="/public/js/jquery.min.js")
        script(src="/public/js/uikit.min.js")
        script(src="/public/js/main.min.js")
        script(src="/public/js/uikit-icons.min.js")

    body
        div.uk-container.uk-container-small
            include ../../modules/menu

        div.auction-lots.uk-container.uk-container-small
        script(src="/public/js/auction/editAuctionLots.min.js")